@import 'split-layout';

@mixin frp-form($breakpoint: 480px, $width-left:25%, $width-right:75%, $padding-x:2%, $fieldwrapper: 'label, div.label'){
    // combines both simple and breakpointed rule sets
    @include frp-form-simple($fieldwrapper: $fieldwrapper);
    @include frp-form-breakpoint($breakpoint, $width-left, $width-right, $padding-x, $fieldwrapper);
}

//////////////////////////////////////////////////

@mixin frp-form-simple($fieldwrapper: 'label, div.label'){
    // for use in all resolutions or where mediaqueries aren't supported.
    @extend %clearfix;
    #{$fieldwrapper} {
        display: block;
        @extend %clearfix;
        margin-bottom: 1em;
        >span, >div, >textarea, >select, >input[type=date], >input[type=datetime], >input[type=datetime-local], >input[type=email], >input[type=month], >input[type=number], >input[type=password], >input[type=search], >input[type=tel], >input[type=text], >input[type=time], >input[type=url], >input[type=week] {
            box-sizing: border-box;
            display: block;
            width: 100%;
        }
    }
}

//////////////////////////////////////////////////

@mixin frp-form-breakpoint($breakpoint: 480px, $width-left:25%, $width-right:75%, $padding-x:2%, $fieldwrapper: 'label, div.label'){
    // use only where mediaqueries are supported
    @media (min-width:$breakpoint){
        #{$fieldwrapper} {
            @include split-layout('>span', '>div, >textarea, >select, >input[type=date], >input[type=datetime], >input[type=datetime-local], >input[type=email], >input[type=month], >input[type=number], >input[type=password], >input[type=search], >input[type=tel], >input[type=text], >input[type=time], >input[type=url], >input[type=week]');
            >span {
                padding-right: $padding-x;
                width: $width-left;
            }
            >div, >textarea, >select, >input[type=date], >input[type=datetime], >input[type=datetime-local], >input[type=email], >input[type=month], >input[type=number], >input[type=password], >input[type=search], >input[type=tel], >input[type=text], >input[type=time], >input[type=url], >input[type=week] {
                display: block;
                width: $width-right;
            }
            &.checkbox,&.radio {
                vertical-align: middle;
                input {
                    margin: 0 .5em 0.1875em 0;
                    vertical-align: middle;
                }
                >div {
                    float: left;
                }
            }
            &.checkbox {
                input[type="checkbox"] {
                    margin-bottom: 0;
                }
            }
            &.radio {
                input[type="radio"] {
                    margin-bottom: 0;
                }
            }
        }

        div.buttons {
            padding-left: $width-left;
        }
    }

}