.wp-block-sht-carousel {
	position: relative;

	--swiper-navigation-size: 2.0625rem;
	--swiper-max-height: clamp(
		15.5rem,
		11.055rem + 18.967vw,
		28.125rem
	); // 248px to 450px
	--swiper-theme-color: var(--wp--preset--color--white);

	@media screen and (min-width: 48em) {
		--swiper-theme-color: var(--wp--preset--color--violet);
	}

	> * + * {
		margin-top: var(--wp--preset--spacing--less-small);
	}

	.swiper-container {
		max-width: 50.25rem;
		margin-left: auto;
		margin-right: auto;
	}

	.swiper-figure {
		&.is--portrait {
			max-height: var(--swiper-max-height);
		}
	}

	.swiper-main-wrapper {
		position: relative;
	}

	.swiper-thumbs-pagination {
		.swiper-slide {
			position: relative;
			opacity: 0.6;
			aspect-ratio: 1/1;

			img {
				object-fit: cover;
				width: 100%;
				height: 100%;
			}

			&:after {
				content: '';
				position: absolute;
				z-index: 1;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				border: 3px solid transparent;
				transition: all 300ms ease-in;
			}

			&-thumb-active:after {
				border-color: var(--wp--preset--color--violet);
			}
		}
	}
}
