.container {
  max-width: 85rem;
  margin: 0 auto; }

.tooltip {
  position: absolute; }

.tx-frpzonemaplibero {
  position: relative;
  overflow: hidden; }
  .tx-frpzonemaplibero img,
  .tx-frpzonemaplibero svg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%; }
  .tx-frpzonemaplibero [class*="cls-"] {
    font-family: 'FF Transit W01', sans-serif; }
  .tx-frpzonemaplibero .zones.clickable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .tx-frpzonemaplibero #zonenplan-svg {
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .tx-frpzonemaplibero #zonenplan-svg :not([id^="zone"]) {
      pointer-events: none; }
    .tx-frpzonemaplibero #zonenplan-svg [id^="zone"] {
      pointer-events: auto;
      cursor: pointer; }
  .tx-frpzonemaplibero .svg-holder {
    position: relative;
    transition: transform 300ms ease-out;
    height: 0;
    padding-bottom: 76.7669172932%; }
    .tx-frpzonemaplibero .svg-holder.act {
      background: #b7b7b7; }
      .tx-frpzonemaplibero .svg-holder.act .cls-1:not(.act) {
        fill: #6f7072; }
      .tx-frpzonemaplibero .svg-holder.act .cls-5:not(.act) {
        fill: #5e6267; }
      .tx-frpzonemaplibero .svg-holder.act .cls-9:not(.act) {
        fill: #6e601a; }
      .tx-frpzonemaplibero .svg-holder.act .cls-1:not(.act) {
        fill: #9a9c9f; }
      .tx-frpzonemaplibero .svg-holder.act .cls-2:not(.act) {
        fill: #94979b; }
      .tx-frpzonemaplibero .svg-holder.act .cls-3:not(.act) {
        fill: #8e9297; }
      .tx-frpzonemaplibero .svg-holder.act .cls-4:not(.act) {
        fill: #848992; }
      .tx-frpzonemaplibero .svg-holder.act .cls-5:not(.act) {
        fill: #818790; }
      .tx-frpzonemaplibero .svg-holder.act .cls-6:not(.act) {
        fill: #a4a192; }
      .tx-frpzonemaplibero .svg-holder.act .cls-7:not(.act) {
        fill: #a19870; }
      .tx-frpzonemaplibero .svg-holder.act .cls-8:not(.act) {
        fill: #9d8e48; }
      .tx-frpzonemaplibero .svg-holder.act .cls-9:not(.act) {
        fill: #998521; }
      .tx-frpzonemaplibero .svg-holder.act .cls-10:not(.act) {
        fill: #967e39; }
      .tx-frpzonemaplibero .svg-holder.act .cls-11:not(.act) {
        fill: #a19984; }
      .tx-frpzonemaplibero .svg-holder.act .cls-12:not(.act) {
        fill: #a19984; }
      .tx-frpzonemaplibero .svg-holder.act .cls-14:not(.act) {
        fill: #a6a6a6; }
