html {
    font-size: 1.25em;
}

body {
    font-family: monospace;
}

.PrimaryNav {
  list-style: none;
  margin: 50px auto;
  padding: 0;
  width: 100%;
}

.Nav-item {
  background: #fff9f9;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 20%;
  text-align: center;
}
.Nav-item.is-active a {
  color: red;
}
.Nav-item a {
  color: #121212;
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration: none;
}
.Nav-item a:hover {
  color: red;
}

.with-indicator {
  position: relative;
  z-index: 0;
}
.with-indicator .Nav-item:last-child:before, .with-indicator .Nav-item:last-child:after {
  content: '';
  display: block;
  position: absolute;
  pointer-events: none;
  -webkit-transition: left 1.3s cubic-bezier(0, 1, 1, 1);
          transition: left 1.3s cubic-bezier(0, 1, 1, 1);
}
.with-indicator .Nav-item:last-child:before {
  border: 6px solid transparent;
  border-top-color: red;
  width: 0;
  height: 0;
  top: 0;
  left: 10%;
  margin-left: -3px;
}
.with-indicator .Nav-item:last-child:after {
  background: red;
  top: 0;
  bottom: -2px;
  left: 0;
  width: 20%;
  z-index: -1;
}
.with-indicator .Nav-item:nth-child(1).is-active ~ .Nav-item:last-child:after {
  left: 0%;
}
.with-indicator .Nav-item:nth-child(1).is-active ~ .Nav-item:last-child:before {
  left: 10%;
}
.with-indicator .Nav-item:nth-child(2).is-active ~ .Nav-item:last-child:after {
  left: 20%;
}
.with-indicator .Nav-item:nth-child(2).is-active ~ .Nav-item:last-child:before {
  left: 30%;
}
.with-indicator .Nav-item:nth-child(3).is-active ~ .Nav-item:last-child:after {
  left: 40%;
}
.with-indicator .Nav-item:nth-child(3).is-active ~ .Nav-item:last-child:before {
  left: 50%;
}
.with-indicator .Nav-item:nth-child(4).is-active ~ .Nav-item:last-child:after {
  left: 60%;
}
.with-indicator .Nav-item:nth-child(4).is-active ~ .Nav-item:last-child:before {
  left: 70%;
}
.with-indicator .Nav-item:nth-child(1):hover ~ .Nav-item:last-child:after {
  left: 0% !important;
}
.with-indicator .Nav-item:nth-child(1):hover ~ .Nav-item:last-child:before {
  left: 10% !important;
}
.with-indicator .Nav-item:nth-child(2):hover ~ .Nav-item:last-child:after {
  left: 20% !important;
}
.with-indicator .Nav-item:nth-child(2):hover ~ .Nav-item:last-child:before {
  left: 30% !important;
}
.with-indicator .Nav-item:nth-child(3):hover ~ .Nav-item:last-child:after {
  left: 40% !important;
}
.with-indicator .Nav-item:nth-child(3):hover ~ .Nav-item:last-child:before {
  left: 50% !important;
}
.with-indicator .Nav-item:nth-child(4):hover ~ .Nav-item:last-child:after {
  left: 60% !important;
}
.with-indicator .Nav-item:nth-child(4):hover ~ .Nav-item:last-child:before {
  left: 70% !important;
}
.with-indicator .Nav-item:last-child:hover:before, .with-indicator .Nav-item:last-child.is-active:before {
  left: 90% !important;
}
.with-indicator .Nav-item:last-child:hover:after, .with-indicator .Nav-item:last-child.is-active:after {
  left: 80% !important;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.PrimaryNav:before,
.PrimaryNav:after {
  content: " ";
  display: table;
}

.PrimaryNav:after {
  clear: both;
}

.toggle {
  color: #fff;
  font-family: sans-serif;
  text-align: center;
}
