@include context-edit() {
	.c-imageselector {
		flex: 0 0 100%;

		&__buttons {
			@include floodlink;
			background-color: transparent;
			opacity: 1;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			button {
				margin-top: var(--unit-small);
				margin-bottom: var(--unit-small);
			}
		}

		&__figure {
			position: relative;

			&::after {
				content: '';
				@include floodlink;
				z-index: 0;
				background-color: c(black);
				opacity: 0.2;
			}

			&--noimage {
				display: flex;
				justify-content: center;
				padding: var(--unit-medium);
				background-color: c(gray, light);

				&::after {
					display: none;
				}
			}
		}
	}
}
