### Main domain and language-dependent redirects ###
### 26.8.2016 ###
<IfModule mod_rewrite.c>
 RewriteEngine on

 # Language recognition (root only, not subpages)
 # and only for the specified domain

 # FR
 RewriteCond %{HTTP_HOST} ^www.domain.ch$
 RewriteCond %{REQUEST_URI} !^typo3
 RewriteCond %{HTTP:Accept-Language} ^fr [NC]
 RewriteRule ^$ /fr/ [L,R=301]

 # IT
 RewriteCond %{HTTP_HOST} ^www.domain.ch$
 RewriteCond %{REQUEST_URI} !typo3
 RewriteCond %{HTTP:Accept-Language} ^it [NC]
 RewriteRule ^$ /it/ [L,R=301]

 # ELSE
 RewriteCond %{HTTP_HOST} ^www.domain.ch$
 RewriteCond %{REQUEST_URI} !typo3
 RewriteRule ^$ /de/ [L,R=301]

</IfModule>
### End language recognition ###