.is-transparent {
    opacity: 0;
}

html,body {

    margin: 0;
    padding: 0;
    background: #ddd;
    text-align: center;
    font-family: sans-serif;
}

nav {
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1;
    height: 50px;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.25);
}

nav a {
    text-decoration: none;
    color: #999;
    line-height: 50px;
    display: inline-block;
    padding: 0 1em;
}

nav a.act {
    color: #000;
    opacity: .87;
}

.container {
    margin-top: 50px;
}

.row {
    padding: 1rem 0;
    height: 75vh;
    margin: 1rem 0;
    background: #eee;
}

.header {
    background: #edd;
    height: 25vh;
}