.centered.outer {text-align:center;height:100%;*zoom:expression(this.runtimeStyle.zoom="1",this.appendChild(document.createElement("small")).className="before");}
.centered.outer:before,.centered.outer .before {content: '';display:inline-block;height:100%;vertical-align:middle;margin-right:-0.25em}
.centered.inner {display:inline-block;vertical-align:middle}