<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<meta charset="utf-8">
	<title></title>
	<style>
		* {
			box-sizing: border-box;
		}

		img {
			max-width: 100%;
		}

		.c-sticky__wrap {
			display: flex;
			flex-flow: row wrap;
			position: relative;
		}

		.c-sticky__wrap>* {
			flex: 0 0 50%;
			padding: 0 1rem;
		}

		.c-sticky__sticky {
			background-color: silver;
			padding: 1rem;
		}

		.c-sticky__sticky img {
			position: sticky;
			top: 1rem;
			bottom: auto;
		}
	</style>
</head>

<body>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error qui sapiente temporibus perferendis, numquam, incidunt autem, sint eius commodi sequi amet vitae culpa soluta consectetur reprehenderit sunt dolores fugit id.</p>
	<p>Doloremque officiis ipsam voluptatum eaque est. Earum delectus porro quis atque tenetur libero mollitia reprehenderit eos ipsa placeat. Odit ea quia porro repellat voluptas consequuntur ratione sunt error numquam reiciendis.</p>
	<p>Magnam ipsam, nostrum tempora officiis rerum aperiam aliquam provident, vero, distinctio doloribus facilis reprehenderit. Nam, architecto labore placeat modi deleniti, ut a. Commodi ducimus odio accusantium, modi facere placeat nostrum.</p>
	<p>Recusandae ratione odit adipisci soluta facere provident error porro dolorem, fugit, earum quo aliquam. Sit esse maxime reprehenderit animi minima, delectus eligendi numquam accusantium? Commodi, eveniet dolor veniam culpa id.</p>
	<p>Saepe maiores modi obcaecati molestias fuga ea nisi vitae nam, nobis asperiores pariatur officiis sequi rem cumque mollitia. Eligendi architecto eaque vel nisi quos voluptas dicta nemo et cum reiciendis?</p>
	<p>Reiciendis, ut porro quibusdam eos quod tempore perferendis veritatis voluptatibus nulla, assumenda beatae ab saepe vitae culpa placeat. Labore quae eius dolore modi ullam corrupti suscipit. Aperiam, accusantium. Voluptatum, animi.</p>
	<p>Fugit rem alias id, odit labore quasi maiores. Est quos omnis vero totam eaque expedita consectetur molestias quo, quae temporibus vel repudiandae iusto optio incidunt amet, labore consequatur in error.</p>
	<p>Iste quos esse debitis velit eaque incidunt neque amet minus exercitationem, praesentium aspernatur veniam quidem, ipsum quas nulla adipisci eius. Temporibus eaque at nisi quos architecto amet labore commodi rem?</p>

	<div class="c-sticky__wrap">
		<div class="c-sticky__sticky">
			<img src="https://source.unsplash.com/random/800x600">
		</div>
		<div class="c-sticky__not">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi sit animi, earum expedita culpa minima, nesciunt repellendus accusamus deleniti libero illum. Eveniet quaerat repellendus corporis eos eius consectetur sint itaque.</p>
			<p>Saepe minima, illo consequuntur temporibus quaerat perferendis non eveniet sint, inventore atque voluptate unde numquam laborum quis! Debitis dignissimos libero dolore corporis perspiciatis iste, et reprehenderit, aliquam reiciendis recusandae
				odit!</p>
			<p>Enim architecto porro maiores eum rerum dolore consequuntur numquam animi soluta ea molestias dicta exercitationem nulla eaque natus recusandae fuga, inventore perspiciatis. Error fuga repellat laborum aspernatur, molestias, quibusdam
				blanditiis.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae saepe suscipit eum. Officia similique molestias expedita quas ratione saepe iusto corrupti totam repellendus nobis! Ipsa voluptatem modi ipsam praesentium asperiores?</p>
			<p>Consequatur porro vitae qui modi aspernatur reiciendis mollitia vero sit molestiae quis. Magnam earum molestiae amet sunt. Porro quaerat obcaecati odio, nam rerum similique, a enim ratione quos quisquam eveniet.</p>
			<p>Molestias deleniti officiis voluptatum velit maxime suscipit quo minus eius quae tenetur magni quisquam nobis, quod earum veniam recusandae cupiditate architecto! Deserunt magni cupiditate, voluptatem rerum vel iste quae! Iste!</p>
			<p>Aspernatur impedit quia explicabo veritatis sit neque, dolorum animi ducimus nihil quos, quasi natus laboriosam sequi velit accusamus eveniet nulla molestias similique accusantium, dolor. Iure dolorem voluptate omnis fugit cumque!</p>
			<p>Nihil consequuntur nisi dolor architecto. Aut illo totam sit natus suscipit dicta quod error molestias porro culpa architecto quisquam nihil, nulla nobis consequuntur iste necessitatibus mollitia eaque accusantium ab odit!</p>
			<p>Quaerat earum atque fuga, aspernatur optio numquam itaque commodi, quis fugit possimus, perferendis. Impedit, adipisci itaque omnis sunt beatae atque temporibus quisquam ut quas aspernatur modi expedita soluta quaerat deserunt.</p>
			<p>Totam cum, architecto molestiae blanditiis possimus tenetur quidem repellendus iusto iste dolorum, voluptate minus optio necessitatibus veritatis fugit doloremque. Unde sit quibusdam ullam nemo. Consequuntur ex, earum eius quod maiores.</p>
			<p>Sapiente dolore unde aliquam voluptatum facere a porro ullam, sed ut, itaque optio natus culpa consequatur saepe eos quisquam in architecto laborum fugiat. Et dicta nisi blanditiis iure magnam possimus!</p>
			<p>Dignissimos beatae, explicabo quibusdam adipisci hic nesciunt obcaecati atque doloremque dolore! Veniam vitae voluptas neque modi voluptates, magni, totam ad tenetur nisi optio sunt porro! Doloremque amet, illo expedita qui.</p>
			<p>Voluptatem ea omnis, earum culpa eveniet ut magnam. Soluta commodi asperiores laborum fuga aliquid, quasi eaque quos eum suscipit porro, odio voluptatibus consectetur ad neque? Non velit nesciunt quibusdam aperiam.</p>
		</div>
	</div>

	<p>Corporis maiores similique impedit cum dignissimos, ipsum at enim iusto vero, harum soluta iste quaerat placeat pariatur in tenetur autem molestias consequuntur accusantium nisi possimus. Quidem odio, incidunt tempore modi!</p>
	<p>Quasi maxime dolore nemo, perspiciatis. Quibusdam cupiditate nisi magnam ratione odit molestiae laborum veniam delectus recusandae eligendi? Accusamus quod expedita iusto laborum consectetur nemo sed! Quas consequatur odit sequi delectus?</p>
	<p>Laboriosam omnis dolorum, illum possimus ea quasi, quidem perspiciatis. Quas voluptas neque, suscipit minus dicta voluptate doloribus alias quaerat labore, blanditiis sequi obcaecati nemo nam accusamus, rerum, beatae laborum in.</p>
	<p>Modi facere fugiat aut. Earum, labore ducimus doloremque. Voluptas repudiandae dolor, nisi facilis at numquam vitae asperiores optio doloribus architecto consequatur saepe aperiam magnam a distinctio, debitis reiciendis aut officiis.</p>
	<p>Voluptas earum ducimus, optio non suscipit perferendis pariatur. Ducimus error, eum iste deserunt veritatis architecto beatae odit laudantium illo! Aliquid nam consectetur quisquam, provident, ab veritatis quasi. Nesciunt, fuga, ipsa.</p>
	<p>Pariatur, soluta aliquam nostrum cupiditate nisi quod similique rerum neque, quisquam ab quia illum repellat odio quas laborum debitis ullam, molestiae voluptates vero. Optio rem pariatur corrupti voluptates perspiciatis nam.</p>
	<p>Dolorem autem nobis odio eaque repellat, molestiae adipisci suscipit non optio. Hic repellat aspernatur laborum voluptatem accusamus. Assumenda, deleniti mollitia dicta soluta quibusdam incidunt quos esse consectetur excepturi laudantium ex.</p>
	<p>Repudiandae, odio, possimus. Deserunt odit culpa, unde molestiae repellendus veniam eius atque fugit incidunt! Sunt nobis quisquam, blanditiis dolorum sed ut quas maxime aspernatur, saepe, assumenda omnis qui! Error, accusantium.</p>
	<p>Repellat perferendis fugit non, quae cupiditate quaerat magni impedit unde totam, enim voluptatum sint, nostrum sequi, excepturi libero! Cum sapiente debitis repellendus aspernatur accusamus corporis ipsum quia quae quibusdam praesentium.</p>
	<p>Recusandae, dolorem, expedita. Assumenda voluptas deserunt facilis beatae esse, ab eius hic ullam, laudantium praesentium, cumque distinctio alias ut asperiores repellat! Optio aspernatur ex, aliquid sit quos architecto explicabo libero!</p>
	<p>Sed voluptatem nisi, aspernatur suscipit soluta porro consequatur nam incidunt natus voluptates, nulla voluptas veniam a modi dicta deleniti distinctio, eius expedita praesentium non molestias officia numquam. Nesciunt, ducimus, fugiat.</p>
	<p>Facere quia, deserunt, iste eos itaque quas officia repudiandae expedita ipsa molestias consectetur vel excepturi pariatur, possimus quisquam soluta mollitia laborum autem cumque qui recusandae ipsam consequuntur. Quas, perspiciatis earum.</p>
</body>

</html>
