{# 
Language switcher menu for WPML
Text view
mark@sayhello.ch 13.2.2019
#}

{% import _self as self %}

{% set icl_languages = fn('icl_get_languages', 'skip_missing=0') %}

{% if icl_languages|length > 1 %}

	<div class="c-menu--languages">
		<ul class="c-menu__entries">
			{% for language in icl_languages %}
				<li class="c-menu__entry">
					{% if language.active %}
						<span class="c-menu__entrytext">{{ language.translated_name }}</span>
					{% else %}
						<a class="c-menu__link" href="{{ language.url }}">{{ language.native_name }}</a>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	</div>

{% endif %}
