<noscript>
	<div class="c-message--danger">{{ _x('Um diese Funktion zu nutzen ist eine interaktive Technik namens JavaScript erforderlich. Diese Technik ist bei Ihnen leider nicht verfügbar. Bitte nehmen Sie Kontakt mit uns direkt auf!', 'sht') }}</div>
</noscript>
