html,body {
    margin:0;padding:0;font-family:sans-serif;
}
.container_12 {
    background:#eee;
    max-width:1200px;
    margin:0 auto;
}

div.fce {
    float:left;
    width:23%;
    margin:0 1% 1em;
}

div.fce.c2 {
    width:48%;
}

div.fce.h2 {

}

div.fce div {
	padding:12px;
    background:#e0e0e0;
}

h1 {
	margin:0 0 1em;
	font-size:1.25em;
}