.wp-block-sht-header-parallax {

	position: relative;
	margin-bottom: var(--unit-medium);

	&__content {
		padding: var(--unit-medium);
		max-width: calc(var(--constraint-narrow) + calc(var(--unit-medium) * 2));
		margin-left: auto;
		margin-right: auto;
		background-color: var(--color-white);
		@extend %h-stack;
		text-align: center;

		@include breakpoint(medium) {
			@include flood;
			top: auto;
			z-index: 2;
		}
	}

	&__figure {
		width: 100%;
		display: block;

		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
			@include transition;
		}

		&--empty {
			padding-bottom: percentage(1/3);
			background-color: var(--color-gray);
			opacity: .1;
		}
	}

	&__text {
		color: inherit;
		@extend %h-stack;
		@include breakpoint(medium) {
			font-size: var(--font-size-medium);
		}
	}

	&__title {
		color: inherit;
	}

	.js & {
		&[data-parallax="scroll"] {
			img {
				opacity: 0;
			}
		}
	}
}

.parallax-mirror,
.parallax-slider {
	@include transition(slow);
}
